<h2><%= @article.title %></h2>
<h4> Written by: <%= @article.user.name %></h4>
<p><%= @article.content %></p>
<% if can? :modify, @article %>
<%= link_to('Edit', edit_article_path(@article)) %>
| <%= link_to('Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}) %>
<br>
<br>
<h3>Comments</h3>
<%= render 'comments' %>
<% end %>